[Unit]
Description=LetsEncrypt Certbot Service
Requires=docker.service
Requires=create_docker_network.service
Requires=clone-repo.service
Requires=nginx.service
After=docker.service
After=create_docker_network.service
After=clone-repo.service
After=nginx.service

[Service]
WorkingDirectory=/gaia
EnvironmentFile=/gaia/gaia.env
TimeoutStartSec=0
Restart=always
RemainAfterExit=yes
RestartSec=5
ExecStartPre=-/usr/bin/docker stop certbot
ExecStartPre=-/usr/bin/docker pull ${CERTBOT_IMAGE}
ExecStart=/usr/bin/docker run \
  --net=gaia \
  -m 128m \
  --oom-kill-disable \
  -v "${LOCAL_CERTBOT_CONF}:${REMOTE_CERTBOT_CONF}"
  -v "${LOCAL_CERTBOT_WWW}:${REMOTE_CERTBOT_WWW}"
  --name certbot \
  ${CERTBOT_IMAGE} \
/bin/sh -c "trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;"

ExecStop=-/usr/bin/docker stop certbot
ExecStopPost=-/usr/bin/docker rm -f certbot
ExecReload=-/usr/bin/docker restart certbot

[Install]
WantedBy=multi-user.target
