# check_dns.service
[Unit]
Description=Check DNS Record Service
After=gaia-hub.service
After=letsencrypt_init.service
ConditionPathExists=/tmp/letsencrypt.init
ConditionPathExists=!/tmp/dns_checked
ConditionPathExists=!/tmp/ssl_created
ConditionPathExists=/gaia/scripts/check_dns.sh
ConditionPathExists=/gaia/scripts/letsencrypt.sh

[Service]
Type=oneshot
RemainAfterExit=no
EnvironmentFile=/etc/environment
ExecStart=/bin/bash -x /gaia/scripts/check_dns.sh
ExecStart=/bin/bash -x /gaia/scripts/letsencrypt.sh

[Install]
WantedBy=multi-user.target
