# clone-repo.service
[Unit]
Description=Clone Gaia Repo
Before=gaia.service
Before=nginx.service
Before=certbot.service

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/bin/sh -c "if [ -d /gaia ]; then /usr/bin/git -C /gaia pull; else /usr/bin/git clone -b master --single-branch https://github.com/blockstackpbc/gaia-docker /gaia; fi"

[Install]
WantedBy=multi-user.target
