# gaia-hub.service
[Unit]
Description=Gaia Hub Service
Requires=docker.service
Requires=create_docker_network.service
Requires=clone-repo.service
After=docker.service
After=create_docker_network.service
After=clone-repo.service

[Service]
WorkingDirectory=/gaia
EnvironmentFile=/gaia/gaia.env
TimeoutStartSec=0
Restart=always
RemainAfterExit=yes
RestartSec=5
ExecStartPre=/bin/bash -x /gaia/scripts/update_configs.sh
ExecStartPre=-/usr/bin/docker stop gaia-hub
ExecStartPre=-/usr/bin/docker pull ${HUB_IMAGE}
ExecStart=/usr/bin/docker run \
  --net=gaia \
  --oom-kill-disable \
  -p 3000:3000 \
  -v /gaia/hub-config:/src/hub/etc \
  -v ${LOCAL_DISK}:${GAIA_DISK_STORAGE_ROOT_DIR} \
  -e CONFIG_PATH="/src/hub/etc/config.json" \
  -e GAIA_DISK_STORAGE_ROOT_DIR="${GAIA_DISK_STORAGE_ROOT_DIR}" \
  --name gaia_hub \
  ${HUB_IMAGE}

ExecStop=-/usr/bin/docker stop gaia-hub
ExecStopPost=-/usr/bin/docker rm -f gaia-hub
ExecReload=-/usr/bin/docker restart gaia-hub

[Install]
WantedBy=multi-user.target
